@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    box-sizing: border-box;
}

body{
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  background-color: #f5f5f5;
}

form{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 100%;
}

#input{
    width: 100%;
    border: none;
    padding: 15px 20px;
    display: block;
}
#input::placeholder{
    font-size: 20px;
    color: #d5d5d5;
}
.todos{
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.todos li{
    border-top: 1px solid #ebe6e6;
    padding: 10px;
    cursor: pointer;
    color: #5a5858;
}
.todos li.completed{
    color: #bdb9b9;
    text-decoration: line-through;
}